@import '../../../../public/assets/css/colors.scss';

.app-footer-main {
  //background:$colorBackLight;
  position: absolute;
  padding: 32px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
