@import '../../../scss/mixin';
@import '../../../scss/variables';

.password-reveal-eye {
  display: inline-block;
  position: absolute;
  right: 16px;
  //top: 50%;
  transform: translateY(50%);
  cursor: pointer;
  //color: $color-1;
}